{% extends 'back/base_back.html.twig' %}
{% block active_users %}{% endblock %}
{% block active_drivers %}active{% endblock %}


{% block body %}
    <h1>Create new Driver</h1>

    {{ include('back/driver/_form.html.twig') }}

    <a href="{{ path('back_driver_index') }}">back to list</a>
{% endblock %}
