{% extends 'back/base_back.html.twig' %}
{% block active_users %}{% endblock %}
{% block active_events %}active{% endblock %}

{% block body %}
    <h1>Create new Event</h1>

    {{ include('back/event/_form.html.twig') }}

    <a href="{{ path('back_event_index') }}">back to list</a>
{% endblock %}
