@use './vars';

@font-face {
    font-family: 'Titillium';
    src: url('/public/assets/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf') format('truetype');
}

body {
    background-color: vars.$altDarkGrey;
    font-family: 'Titillium', 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: vars.$darkGrey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    transform: scale(1.1);
}