@use './vars';

ul {
    list-style: none;

    li {
        margin-right: 1em;
    }

    & a {
        text-decoration: none;
        color: white;
        font-weight: bold;

        &:hover {
            border-bottom: 2px solid vars.$lightGrey;
            margin-top: 2px;
        }
    }
}

.header {
    min-height: 160px;
    background-color: vars.$lightGrey;
    margin-top: 80px;
    border-bottom: 2px solid vars.$altDarkGrey;
    & p {
        margin: 0;
    }
}

.header-container {
    width: 90%;
    min-height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-direction: column;
    margin: auto;
}

.main-title {
    margin-top: 0;
}

.header-info {
    width: 50%;
    justify-content: center;
    align-items: flex-end;
}

.event-container {
    display: flex;
    flex-direction: row;
}

.top-container {
    display: flex;

}

.bottom-container {
    margin: 8px;
}

.cards-container {
    display: flex;
    background-color: vars.$darkGrey;
    // border-radius: 4px;
}

.quali-container {
    text-align: start;
}

.race-container {
    text-align: start;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
    flex-grow: 1;
}

.right-side {
    width: 35%;
    height: 100%;
    flex-grow: 1;
}

.events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    & .card.event {
        width: 20%;
    }
    
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.prediction-form {
    display: flex;
    justify-content: center;

    & div {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        & label {
            color: white;
            font-size: 1.1em;
            font-weight: bold;
        }
    }
}

select {
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.icon {
    height: 24px;
    width: 24px;
}

.notyf-message {
    display: none;
}

#congrats-modal {
    display: none;
}

@media screen and (max-width: 1250px) {
    .cards-container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .body-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: auto;
    }

    .top-container {
        flex-direction: column;
    }

    

    .left-side, .right-side {
        width: 95%;
    }

    .event-container {
        display: flex;
        flex-direction: column;

    }

    .header-container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .main-title {
        margin-top: 8px;
    }

    .cards-container {
        margin-top: 8px;
    }
}
