@use './vars';

.podiums-container {
    background-color: vars.$lightGrey;
    display: flex;
    flex-direction: column;
    // width: 100%;
    // margin: auto;
    padding: 8px;
    border-radius: 4px;
    
    // & h3 {
    //     text-align: center;
    // }
}

.podium-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h4 {
        margin-bottom: 0;
    }
    
}

.podium-img {
    // transform: scale(90%);
    height: 160px;
    width: 300px;

}

.podium-box {
    height: 120px;
    background-color: vars.$darkGrey;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.podium-second {
        height: 80px;
    }

    &.podium-third {
        height: 60px;
    }
}

.podium-user {
    text-align: center;
}

.position {
    text-align: center;
    font-weight: bold;
    color: white;

    &.position-first {
        font-size: 2em;
    }

    &.position-second {
        font-size: 1.6em;
    }

    &.position-third {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 600px) {
    .podium-container {
        width: 100%;
        margin: auto;
    }

    .podium {
        justify-content: center;
        margin: auto;
    }

}