@use './vars';

.rankings-topten li:first-child {
    background: linear-gradient(145deg,
        vars.$altDarkGrey,
        vars.$altDarkGrey 75%,
        vars.$lightGrey 75%,
        vars.$gold 78%,
    );
    color: white;
    font-weight: bold;
}

.rankings-topten li:nth-child(2) {
    background: linear-gradient(145deg,
        vars.$altDarkGrey,
        vars.$altDarkGrey 75%,
        vars.$lightGrey 75%,
        vars.$silver 78%,
    );
    color: white;
    font-weight: bold;
}

.rankings-topten li:nth-child(3) {
    background: linear-gradient(145deg,
        vars.$altDarkGrey,
        vars.$altDarkGrey 75%,
        vars.$lightGrey 75%,
        vars.$bronze 78%,
    );
    color: white;
    font-weight: bold;
}

li.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
    border-radius: 50px;
    padding: 8px;
    background: linear-gradient(145deg,
        vars.$altDarkGrey,
        vars.$altDarkGrey 75%,
        vars.$lightGrey 75%,
        white 78%,
    );
    color: white;
    font-weight: bold;
}

ul.rankings-topten {
    padding-left: 0;
}

.ranking-username {
    width: 55%;
    text-align: start;
}

.ranking-score {
    width: 30%;
    text-align: end;
    color: vars.$altDarkGrey;
}

.ranking-position {
    width: 15%;
    text-align: start;
    margin-left: 8px;
}

.rankings {
    background-color: vars.$lightGrey;
    // box-sizing: border-box;
    // backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.2em;
    width: auto;
    margin: 8px;
    padding: 8px;
    border: 1px solid grey;
    box-shadow: 0 0 5px black;
    right: 0;
}

@media screen and (max-width: 600px) {
    .rankings {
        width: 95%;
        margin: auto;
        padding: 0;
        & h3 {
            margin-top: 8px;
            margin-left: 8px;
        }

    .right-side {
        width: 95%;
    }
    }
}